@model IEnumerable<EXIFWeb.Models.FrequencyModel>

@{

    ViewData["Title"] = "Distribution";
}

<h1>EXID Data Distribution of Focal Length</h1>
@Html.Partial("_ReportMenu")
<table class="table">
    <thead>
        <tr>
            <th>
                Focal length
            </th>
            <th>
                Frequency (%)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)



        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Value)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Frequency)
                </td>
            </tr>































































































































































































































































        }
    </tbody>
</table>
